# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# rasa models, cache and tests
.rasa/
models/
results/
src/train_test_split/

# archived data
archived

# database
database